/*@media (min-width: 768px)*/
html{
    background-image: url(../img/fondoIndex.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
body{
    background: #d2d6de00;
}
html, body {
    height: 100vh !important;
    width: 100vw !important;
}

/*.content {
    min-height: 0 !important;
}*/

.content-wrapper {
    min-height: 0 !important;
    height: calc(100% - 50px - 51px ) !important;
}

.wrapper{
    height: 100% !important;
}

.main-sidebar{
    height: 100%;
    overflow: auto;
}

@media (max-width: 767px) {
    .content-wrapper {
        height: calc(100% - 100px - 51px ) !important;
    }
}

.btn-salir {
    background: #d73925 !important;
    color: #fff;
}
.btn-salir:hover {
    border: 1px solid #d73925;
    color: #d73925;
    font-weight: bolder;
    background: #fff !important;
}

#menu a {
    cursor: pointer;
}

.user-menu > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.user-menu > a > img {
    float: none !important; 
    width: 30px !important; 
    height: 30px !important; 
    margin-top: 0 !important;
}


.credito_actual_principal {
    font-size: 19px; 
    font-weight: bold;
    cursor: pointer;
}

.credito_actual_principal.bg-green:hover{
    color: green !important;
    background: white !important;
    border: 1px solid green !important;
}

#control-sidebar-pendiente-tab > * {
    margin: 0;
}

#apuPendientes > * {
    margin-bottom: 5px;
}

.control-sidebar {
    height: 100%;
}

.control-sidebar .tab-content{
    overflow: auto;
    height: calc(100% - 41px - 36px);
}

#apuPendientes .box .box-title,
#control-sidebar-amigos-tab .box .box-title,
#control-sidebar-historial-tab .box .box-title {
    width: calc(100% - 22px);
    font-size: 12px;
}

#apuPendientes .box .box-header,
#control-sidebar-amigos-tab .box .box-header,
#control-sidebar-historial-tab .box .box-header{
    padding: 5px 10px;
    border-bottom-color: #00a65a !important;
}

#apuPendientes .box .box-tools.pull-right,
#control-sidebar-amigos-tab .box .box-tools.pull-right,
#control-sidebar-historial-tab .box .box-tools.pull-right{
    top: 2.5px;
}

#apuPendientes .box .box-body,
#control-sidebar-amigos-tab .box .box-body,
#control-sidebar-historial-tab .box .box-body{
    color: #5b6265;
    font-size: 11px;
}
#apuPendientes .box input.monto{
    width: 110px;
}
#apuPendientes .box .info-box-text,
#control-sidebar-amigos-tab .box .info-box-text,
#control-sidebar-historial-tab .box .info-box-text{
    font-size: 11px;
}

#divCargandoBackground .overlay {
    z-index: 9999999;
}


.control-sidebar-bg, .control-sidebar {
    right: -300px;
    width: 300px;
}